/*borders*/
.border {
    border: 1px solid transparent;
}

.border--primary {
    border-color: #008cff;
}

.border--secondary {
    border-color: #75808a;
}

.border--success {
    border-color: #15ca20;
}

.border--danger {
    border-color: #fd3550;
}

.border--warning {
    border-color: #ff9700;
}

.border--info {
    border-color: #0dceec;
}

.border--light {
    color: #212529;
    border-color: #e9eaea;
}

.border--dark {
    border-color: #223035;
}

.border--purpink {
    border-color: #7f00ff;
}